
/* ------Section: body&HTML! --------------------------------- */

title {
    font-family: "monospace", "Courier", "Didot", "Lucida Console";
}

body {
    font-family: "monospace", "Courier", "Didot", "Lucida Console";
    font-size: 1.1em;
    color: #ede0d1;
    margin: 0px 0px 0px 0px;
    background-image: url('./images/wolf.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    filter: opacity(0.92);
}

html {
   scroll-behavior: smooth;
}

.cat {
    float: right;
    margin-top: -100px;
}

/* -----Section: heading!----------------------------------- */

.heading-title {
    color: #f2dfcb;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    text-shadow: 4px 4px 8px #660066;
    font-size: 2.9em;
}

h2 {
    color: #f2dfcb;
    text-align: left;
    margin-top: 2px;
    margin-bottom: 9px;
    padding-right: 5px;
    font-size: 1.8em;
}

/* -----Section: menu!-------------------------------------- */

.menu {
    text-align: center;
}

.menu-item {
    color: #ede0d1;
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
    border:hidden 4px #660066;
    border-radius: 32px;
    padding: 9px;
    margin: 1px;
    box-shadow: 2px 3px 7px #660066;
    transition: all 0.5s linear;
}

a.menu-item:link {
    text-decoration: none!important;
    color: #f2dfcb;
}

.menu-item:hover {
    padding: 10px;
    margin: 0px;
    background-color: #C37000;
    cursor: pointer;
}

/* -----Section: content!------------------------------------- */

.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

p {
    margin-block-start: 0px;
    margin-inline-start: 0px;
}

.section-content {
    max-width: 50em;
    width: calc(100% - 30px);
    margin: auto;
}

/* ----Section: aboutme-content: modal&buttons----------------------------------- */

pre[class*=language-] {
    padding: 26px;
    border-radius: 32px;
}

.column {
    columns: 22rem;
    column-gap: 2em;
    hyphens: auto;
    text-align: justify;
    padding-bottom: 13px;
}

#contact-data {
    display: none;
}

#cv-img {
    max-width: 8em;
    max-height: 8em;
    border-radius: 50%;
    float: left;
    margin-right: 8px;
    shape-outside: margin-box;
}

#cv-img:hover {
    transform: scale(1.3);
}

#block-code {
    padding: 4px;
}

/* ----Section: Development-content: modal&buttons------------------------------ */

.section-content p {
    width: calc(100% - 30px);
}

#i3wm-img {
    max-width: calc(100% - 15px);
    max-height: 55em;
    margin-top: 0px;
    margin-bottom: 13px;
    display: none;
    border-radius: 26px;
}

#btn-i3 {
    padding: 4px;
}

.inline-img {
    height: 1em;
}

.inner {
    overflow: auto;
    height: 100vh;
}

.modal {
    display: none; /* hidden by default */
    z-index: 1;
    position: absolute;
    max-height: 90vh;
    width: 90%;
    top: 3%;
    left: 5%;
    border-radius: 32px;
    background-color: rgb(0,0,0); /* fallback */
    background-color: rgba(0,0,0,0.8); /* black with opacity */
}

.modal-content {
    background-color: inherit;
    margin: auto;
    padding: 5px;
    border: 1px hidden;
    border-radius: 32px;
}

.modal-img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 1em;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: grab;
}

button {
    display: inline-block;
    border: hidden 4px #660066;
    border-radius: 32px;
    box-shadow: 2px 3px 7px #660066;
    background-color: inherit;
    padding: 8px;
    margin: 2px;
    color: #ede0d1;
    text-align: center;
    font-weight: bold;
    font-family: "monospace", "Courier";
    transition: all 0.5s linear;
} 

button:hover {
    padding: 8px;
    margin: 2px;
    background-color: #C37000;
    cursor: grab;
}

ul {
    text-align: justify;
    hyphens: auto;
    padding-left: 20px;
    margin: 0px;
}

.links {
    color: rgb(160,210,255);
}

ul ul li {
    font-size: 0.9em;
}

b { 
    font-size: 1.1em;
}

li {
    padding-top: 9px;
    padding-bottom: 9px;
}

ul li::marker {
    content: "~"; 
}

strong {
    /* color: #00 2c 50; */
/*    color: rgb(160,210,255); */
    color: #f2dfcb;
}

/* ----Section: sections, sticky + svg!-------------------------------------------------- */

.section { 
    background-position: center bottom;
    background-size: 100% 70px;
    background-repeat: no-repeat;
    width: 100%;
    float: left;
    padding-top: 0px;
    padding-bottom: 0px;
}

.section-heading {
    background-color: #2895BA;
    margin: 0px;
    padding-top: 26px;
    padding-bottom: 10px;
} 

.section-menu {
    background-color: #2895BA;
    padding-top: 16px;
    padding-bottom: 16px;
} 

.section-heading-bg {
    background-color: #2895BA;
    background-image: url('./images/head.svg');
    padding-top: 30px;
    padding-bottom: 53px;
}

.sticky {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}

.sticky + .section-heading-bg {
    padding-top: 84px;
}

.section-me {
    background-color: #287b98;
    background-image: url('./images/blog.svg');
    padding-top: 43px;
    padding-bottom: 63px;
}

.section-dev {
    background-color: #256178;
    background-image: url('./images/me.svg');
    padding-top: 43px;
    padding-bottom: 63px;
}

.section-blog {
    background-color: #204959;
    background-image: url('./images/dev.svg');
    padding-top: 43px;
    padding-bottom: 63px;
}

/*----Section: Blog!--------------------------------------*/

.blog-post {
    max-width: calc(80% - 15px);
    margin: 0px;
    font-style: italic;
    font-size: 0.9em;
}

h3 {
    color: #f2dfcb;
    margin-top: 9px;
    margin-bottom: 9px;
    font-size: 1.1em;
}

