/* Section: heading! */
/* ---------------------------------------------------------- */

.heading {
    text-align: left;
}

.menu {
    text-align: center;
}

.heading-title {
    text-align: center;
    text-shadow: 4px 4px 8px #660066;
}

/* Section: body&HTML! */
/* ---------------------------------------------------------- */

body {
    font-family: "Courier";
    font-size: 22px;
    color: #F0F0F0;
    margin: 0px 0px 0px 0px;
    background-image: url('./images/wolf.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    filter: opacity(0.92);
/*    background-image:url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#7d7dff" fill-opacity="0.8" d="M0,128L34.3,112C68.6,96,137,64,206,74.7C274.3,85,343,139,411,160C480,181,549,171,617,154.7C685.7,139,754,117,823,128C891.4,139,960,181,1029,186.7C1097.1,192,1166,160,1234,165.3C1302.9,171,1371,213,1406,234.7L1440,256L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"></path></svg>'); */ 
}

html {
   scroll-behavior: smooth;
}


/* Section: menu! */
/* ---------------------------------------------------------- */

.menu-item {
    color: #F0F0F0;
    text-transform: lowercase;
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
    border:hidden 4px #660066;
    border-top-left-radius:             32px;
    border-top-right-radius:            32px;
    border-bottom-left-radius:          32px;
    border-bottom-right-radius:         32px;
    padding: 6px;
    box-shadow: 2px 3px 7px #660066;
    transition: all 0.5s linear;
}

a:link {
    text-decoration: none!important;
}

.menu-item:hover {
    padding: 5px 5px 5px 5px;
    background-color: #C37000;
    cursor: grab;
}

/* Section: content! */
/* ---------------------------------------------------------- */

h2 {
    font-weight: bold;
}

.blog-post {
    font-style: italic;
}

.column {
    columns: 2;
    text-align: justify;
    hyphens: auto;
    column-gap: 2.5em;
}

.section-content {
    max-width: 50em;
    width: calc(100% - 20px);
    margin: auto;
    padding: 10px;
}

/* Section: aboutme-content: modal&buttons */
/* ---------------------------------------------------------- */

code[class*=language-],pre[class*=language-] {
    font-size: 0.94em;
    border-radius: 32px;
}

#cv-img {
    height: 7em;
    float: left;
    margin-right: 1em;
    border-radius: 20px;
}

/* Section: Development-content: modal&buttons */
/* ---------------------------------------------------------- */

.inline-img {
    height: 1em;
}

.inner {
    overflow: scroll;
    height: 100vh;
}

.modal {
    display: none; /* hidden by default */
    z-index: 1;
    position: absolute;
    max-height: 90%;
    width: 90%;
    top: 3%;
    left: 5%;
    border-radius: 32px;
    background-color: rgb(0,0,0); /* fallback */
    background-color: rgba(0,0,0,0.8); /* black with opacity */
}

.modal-content {
    background-color: inherit;
    margin: auto;
    padding: 5px;
    border: 1px hidden;
    border-radius: 32px;
}

.modal-img {
    border-radius: 20px;
    width: 100%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: grab;
}

button {
    display: inline-block;
    border: hidden 4px #660066;
    border-top-left-radius:             32px;
    border-top-right-radius:            32px;
    border-bottom-left-radius:          32px;
    border-bottom-right-radius:         32px;
    box-shadow: 2px 3px 7px #660066;
    background-color: inherit;
    padding: 6px;
    margin: 1px;
    color: #F0F0F0;
    text-align: center;
    font-weight: bold;
    transition: all 0.5s linear;
} 

button:hover {
    padding: 7px;
    margin: 0px;
    background-color: #C37000;
    cursor: grab;
}

/* Section: svg! */
/* ---------------------------------------------------------- */

.section { 
    background-position: center bottom;
    background-size: 100% 70px;
    background-repeat: no-repeat;
    width: 100%;
    float: left;
    padding-top: 5px;
    padding-bottom: 80px;
}

.section-heading {
    background-color: #2895BA;
    background-image: url('./images/head.svg');
/*    background-image:url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#7d7dff" fill-opacity="0.8" d="M0,128L34.3,112C68.6,96,137,64,206,74.7C274.3,85,343,139,411,160C480,181,549,171,617,154.7C685.7,139,754,117,823,128C891.4,139,960,181,1029,186.7C1097.1,192,1166,160,1234,165.3C1302.9,171,1371,213,1406,234.7L1440,256L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"></path></svg>'); */
} 

.section-me {
    background-color: #287b98;
    background-image: url('./images/blog.svg');
}

.section-dev {
    background-color: #256178;
    background-image: url('./images/me.svg');
}

.section-blog {
    background-color: #204959;
    background-image: url('./images/dev.svg');
} 
